:root {
    --menu-padding: 0.4em;
    --border-radius: 0.7em;
    --button-color: #0074D9;
    --answer-color: #B721FF;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Tahoma, "Trebuchet MS", sans-serif;
}

button {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(19deg, #0074D9 0%, #B721FF 100%);
}

.title {
    font-size: 320%;
    color: white;
}

main {
    width: 37em;
    height: 20em;
    padding: 1em;
    border-radius: var(--border-radius);
    background-color: white;
}

.main-menu, .content, .finish {
    width: 100%;
    height: 100%;
}

.main-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.quiz-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.quiz-btn {
    width: 6em;
    height: 4em;
    font-size: 1.3em;
    border-radius: var(--border-radius);
    background-color: var(--button-color);
    color: white;
}

.content {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 1.3em;
}

.content * {
    width: 100%;
}

.question-num {
    font-size: 1.2em;
}

.question-container {
    font-size: 1.2em;
}

.answer-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

.answer {
    background-color: var(--answer-color);
    color: white;
    height: 2em;
    padding: 0.3em;
    padding-left: 1em;
    border-radius: var(--border-radius);
    text-align: left;
    font-size: 1.1em;
}

.finish {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.acertos {
    font-size: 1.7em;
}

.finish-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5em;
    gap: 4em;
}

.finish-buttons button {
    display: inline;
    width: 9em;
    font-size: 1.2em;
    height: 3.6em;
    color: white;
    border-radius: var(--border-radius);
    background-color: var(--button-color);
}

@media only screen and (max-width: 425px) { 
    .title {
        font-size: 200%;
    }
    main {
        width: 23em;
    }
}
